.header {
  width: 1440px;
  height: 72px;
  position: fixed;
  background-color: #ebeef0;
  margin-top: 0px;
}

.mylogo {
  display: flex;
  padding: 10px, 12px, 10px 12px;
  gap: 0px;
  color: #6070FF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-left: 140px;
}

.top1 {
  display: flex;
  margin-left: 900px;
  width: 258px;
  height: 40px;
  gap: 25px;
}

.top2 {
  color: #344563;
  font-weight: 500;
  font-family: poppins;
  font-size: 20px;
  line-height: 40px;
}

.headliner {
  background-image: url(./asset/Header\ bg.svg);
  width: 1440px;
  height: 846px;
  padding: 16px, 143px, 16px, 143px;
  gap: 0px;

}
.BackIm {
  width: 1600.4px;
  height: 721.46px;
  left: 34.6px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #EBEBFF
}
.text {
  width: 920px;
  height: 268px;
  margin-top: 289px;
  left: 260px;
  gap: 12px;
  margin-left: 208px;
  font-family:'poppins';
}

.text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #091E42;
  margin-top: -10px;
  font-family: poppins;
}

.text p {
  margin-top: -24px;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #344563;
  font-family: Poppins;
}

.text h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7F8CFF;


}

.SocialMedia {
  width: 170.17px;
  height: 20px;
  top: 642px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  margin-left: 200px;
  margin-top: -150px;


}

.SocialMedia img {
  width: 19.99px;
  height: 19.96px;
  top: 642px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  justify-content: space-between;
  margin-left: 10px;
}

.ListPortoflio {
  /* border: 1px solid green;*/
  width: 1440px;
  height: 2694px;
  top: 917px;
  gap: 142px;
  opacity: 0px;

}

.SnapshootPortfolio img {
  width: 544px;
  height: 448px;
  top: 24px;
  left: 24px;
  gap: 0px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  opacity: 0px;

}

.Bold {
  width: 1156px;
  height: 496px;
  gap: 0px;
  opacity: 0px;
  display: flex;

  margin-left: 155px;
  margin-top: 100px;


}

.LeftBlock {

  width: 544px;
  height: 445px;
  top: 24px;
  left: 590px;
  gap: 24px;
  opacity: 0px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;

}

.LeftBlock h1 {
  Color: #091E42;
  margin-top: 15px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-left: 10px;

}

.list3 {
  display: flex;
  text-align: left;
  color: #7A869A;
  width: 320px;
  height: 40px;
  gap: 12px;
  opacity: 0px;
  margin-top: -30px;
  justify-content: space-between;




}

.list3 li {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;



}

.Canopy {
  display: flex;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-left: -30px;

}

.para2 {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 35px;
}

.list2 {
  display: flex;
  margin-top: 35px;
  width: 304px;
  height: 24px;
  gap: 8px;
  text-align: left;
  color: blue;

  justify-content: space-between;
  margin-right: 10px;

}

.language {
  display: flex;
  border-radius: 5px;
  background-color: #EBEBFF;
  padding: 5px;
  padding-top: 7px;
  margin-left: -24px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;

}

.bt {

  width: 130px;
  height: 60px;
  top: 16px;

  gap: 10px;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 10px;
  opacity: 0px;
  border: 1px solid #6070FF
}

.bt p {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #396DF2;

}

.card {
  display: flex;
  width: 1156px;
  height: 496px;
  gap: 0px;
  opacity: 0px;

  margin-left: 155px;
  margin-top: 150px;

}

.list7 {
  width: 380px;
  height: 24px;
  gap: 8px;
  opacity: 0px;

  display: flex;
  margin-top: 35px;
  gap: 8px;
  text-align: left;
  color: blue;

  justify-content: space-between;
  margin-right: 10px;

}

.languages {
  display: flex;
  border-radius: 5px;
  background-color: #EBEBFF;
  padding: 5px;
  padding-top: 7px;
  margin-left: -24px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  justify-content: space-between;

}

.btn {
  background-color: #396DF2;
  width: 130px;
  height: 60px;
  top: 16px;

  gap: 10px;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 10px;
  opacity: 0px;

}

.about {
  width: 1440px;
  height: 800px;
  top: 4535px;
  left: 1440px;
  gap: 0px;
  opacity: 0px;
  angle: -180 deg;
  /* border: 1px solid green;*/
  display: flex;
  margin-top: -150px;
  border-top-right-radius: 130px;
  background: #FFFFFF;



}

.Myself {
  width: 447px;
  height: 311px;
  top: 3777px;
  left: 143px;
  gap: 24px;
  opacity: 0px;

  margin-left: 208px;



}

.Myself h1 {

  font-family: Poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-top: -10px;
  color: #091E42;


}

.Myself p {
  color: #344563;

  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: -15px;

}

.Myself h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7F8CFF;

}

.Myself img {
  width: 19.99px;
  height: 19.96px;
  top: 642px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
  justify-content: space-between;
  margin-left: 10px;

}

.Butn {
  width: 150px;
  height: 35px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid blue;
  opacity: 0px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: blue;
}

.SkillList {
  width: 684px;
  height: 360px;
  top: 3753px;
  left: 614px;
  gap: 0px;
  opacity: 0px;


}

.lang {
  display: flex;


}

.lang h1 {

  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-left: 10px;


}

.lang img {
  width: 12px;
  height: 6px;
  top: 9px;
  left: 6px;
  gap: 0px;
  border: 2px;
  opacity: 0px;
  margin-left: 500px;
  margin-top: 30px;
}

.LangguageList {
  display: flex;
  width: 350px;
  height: 100px;
  padding: 12px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;





}

.lang1 {
  width: 116px;
  height: 100px;
  padding: 12px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  background: #F7F7F9;




}

.lang1 img {
  width: 48px;
  height: 48px;
  top: 12px;
  left: 12px;
  gap: 0px;
  border: 1px solid #FFFFFF;
  opacity: 0px;

}

.lang1 h1 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #253858;
}

.lang2 {
  width: 116px;
  height: 100px;
  padding: 12px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  background: #F7F7F9;
  margin-left: 8px;




}

.lang2 img {
  width: 48px;
  height: 48px;
  top: 12px;
  left: 12px;
  gap: 0px;
  border: 1px solid #FFFFFF;
  opacity: 0px;

}

.lang2 h1 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #253858;
}

.lang3 {
  width: 116px;
  height: 100px;
  padding: 12px;
  gap: 0px;
  margin-left: 20px;
  border-radius: 8px;
  opacity: 0px;
  background: #F7F7F9;



}

.lang3 img {
  width: 48px;
  height: 48px;
  top: 12px;
  left: 12px;
  gap: 0px;
  border: 1px solid #FFFFFF;
  opacity: 0px;

}

.lang3 h1 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #253858;
}

.Frame8 {
  width: 684px;
  height: 60px;
  display: flex;
  margin-top: 20px;

}

.Frame8 h1 {
  color: #344563;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;



}

.Frame8 img {
  width: 24px;
  height: 24px;
  margin-left: 500px;
  margin-top: 15px;
}

.Frame9 {
  width: 684px;
  height: 60px;

  display: flex;
  margin-top: 20px;
}

.Frame9 h1 {

  color: #344563;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;

}

.Frame9 img {

  width: 24px;
  height: 24px;
  margin-left: 550px;
  margin-top: 15px;
}

.contact {
  width: 1440px;
  height: 846px;
  top: 5125px;
  gap: 0px;
  opacity: 0px;
  background-image: url(./Assets/contact\ form\ background\ shapes.svg);
  border: 1px solid beige;
  margin-top: -200px;
  background-color: #396DF2;
  border-top-left-radius: 130px;
}

.Block {
  width: 801px;
  height: 577px;
  top: 4421px;
  left: 320px;
  gap: 24px;
  opacity: 0px;
  margin-left: 320px;
  margin-top: 134.5px;

}
.Block h1 {

  font-family: Poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin-top: -5px;
}

.Block p {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: white;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: -5px;
}

#fname {
  width: 447px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  margin-left: 170px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;

}

#mail {
  width: 447px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  margin-left: 170px;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC
}

#review {
  width: 447px;
  height: 170px;
  gap: 0px;
  border-radius: 2px;
  border: 1px;
  opacity: 0px;
  margin-left: 170px;


}

.submit {
  width: 142px;
  height: 48px;
  padding: 12px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-top: 10px;
  margin-left: 300px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070FF;


}